packages: [
  "advanced-open-file"
  "ansible-snippets"
  "atom-beautify"
  "atom-bracket-highlight"
  "atom-django"
  "atom-jinja2"
  "atom-python-test"
  "auto-detect-indentation"
  "autocomplete-clang"
  "autocomplete-python"
  "blame"
  "bracket-matcher-highlight"
  "build"
  "busy"
  "busy-signal"
  "django-atom"
  "django-templates"
  "editorconfig"
  "file-icons"
  "git-blame"
  "git-control"
  "git-plus"
  "highlight-selected"
  "Hydrogen"
  "hyperclick"
  "indentation-indicator"
  "intentions"
  "js-hyperclick"
  "language-ansible"
  "language-diff"
  "language-django"
  "language-ini"
  "language-javascript-jsx"
  "language-rpm-spec"
  "language-rust"
  "language-swift"
  "language-vbscript"
  "linter"
  "linter-ansible-linting"
  "linter-flake8"
  "linter-gcc"
  "linter-js-yaml"
  "linter-pycodestyle"
  "linter-pyflakes"
  "linter-pylama"
  "linter-python"
  "linter-python-pep8"
  "linter-python-pyflakes"
  "linter-rust"
  "linter-ui-default"
  "MagicPython"
  "merge-conflicts"
  "minimap"
  "nord-atom-syntax"
  "nord-atom-ui"
  "nordkind-dark-syntax"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "one-dark-shade-ui"
  "one-dark-vivid-syntax"
  "package-sync"
  "pigments"
  "platformio-ide"
  "platformio-ide-debugger"
  "platformio-ide-terminal"
  "python-autopep8"
  "python-debugger"
  "python-indent"
  "python-isort"
  "python-jedi"
  "python-tools"
  "python-yapf"
  "remote-atom"
  "remote-atom-plus"
  "rustfmt"
  "seti-icons"
  "simply-django-atom"
  "sort-lines"
  "sync-settings"
  "test"
  "todo-manager"
  "todo-show"
  "tool-bar"
  "vivid-syntax"
  "xml-formatter"
  "yaml-path"
  "yaml-sortkey"
]
